.catalogPagination{
    display: flex;
    flex-direction: column;
}

.paginationButton{
    color: rgb(214, 210, 210);
    padding: 10px;
    font-size: 16px;
    margin-left: 16px;
}

.paginationButton:hover{
    color: rgb(118, 118, 117);
    cursor: pointer;
}

.pagesPagination{
    color: white;
    margin: 6px;
    font-size: 16px;
}