body {
  margin: 0;
  font-size: 19px;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.formContainer button {
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  padding: 12px;

}

.formContainer button:hover {
  cursor: pointer;
  scale: 1.05;
  transition: linear 200ms;
  background-color: rgb(191, 188, 188);
}

.formContainer input {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;

}

.weatherInfo {
  text-align: center;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.weatherDataWrapper {
  display: flex;
  flex-direction: column;
}

.weatherDataWrapper p {
  color: rgb(217, 210, 210);
  font-size: 20px;
  font-weight: bold;
}

.weatherDataWrapper h2 {
  color: rgb(188, 188, 188);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.weatherDataWrapper span {
  color: rgb(213, 171, 34);
  font-size: 26px;

}

.marker {
  width: 30px;
  height: 42px;
  background-image: url('https://static-00.iconduck.com/assets.00/map-marker-icon-1366x2048-7u371uwd.png');
  background-size: cover;
}

.iframeWrapper {
  border: 1px solid rgb(169, 168, 168);
  border-radius: 12px;
  box-shadow: 1px 1px 12px 4px rgb(160, 159, 159);
}

.pngImgWrapper img{
  display: flex;
  width: 42.5%;
  border-radius: 6px;
}