.locationButton{
    font-size: 20px;
}

.locationButton:hover{
    color: red;
}

.ownerSpan {
    font-size: 20px;
}

.ownerSpan:hover {
    color: red;
}

.ownerContactWrapper {
    background-color: #e6e6e6;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    font-size: 16px;
}

.ownerContactWrapper:hover {
    cursor: pointer;
}

.motoSummaryText{
    color: rgb(0, 0, 0);
    padding: 16px;
    background-color:#e6e6e6;
    border-radius: 8px;
    margin-top: 10px;
    width: 70%;
}