.locationButton {
    font-size: 18px;
}

.locationButton:hover {
    color: red;
}

.ownerSpan {
    font-size: 18px;
}

.ownerSpan:hover {
    color: red;
}

.ownerContactWrapper {
    background-color: #e6e6e6;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    padding-top: 26px;
}

.ownerContactWrapper:hover {
    background-color: rgb(216, 214, 214);
    transition: 200ms linear;
}

.ownerContactWrapper:hover {
    cursor: pointer;
}

.motoSummaryText {
    color: rgb(0, 0, 0);
    padding: 16px;
    background-color: #e6e6e6;
    margin-top: 10px;
    width: 70%;
}

.ownerContactContainerWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.shareLinkDiv button {
    background-color: #e6e6e6;
    font-size: 20px;
    font-weight: bold;
    padding: 22px;
    padding-top: 26px;
}

.shareLinkDiv button:hover {
    background-color: rgb(216, 214, 214);
    cursor: pointer;
}