.locationButton {
    font-size: 20px;
}

.locationButton:hover {
    color: red;
}

.ownerSpan {
    font-size: 20px;
}

.ownerSpan:hover {
    color: red;
}

.ownerContactWrapper {
    background-color: #e6e6e6;
    border: 1px solid black;
    font-size: 26px;
    font-weight: bold;
    padding: 16px;
    padding-top: 26px;
}

.ownerContactWrapper:hover {
    background-color: rgb(216, 214, 214);
    transition: 200ms linear;
}

.ownerContactWrapper:hover {
    cursor: pointer;
}

.motoSummaryText {
    color: rgb(0, 0, 0);
    padding: 16px;
    background-color: #e6e6e6;
    border-radius: 8px;
    margin-top: 10px;
    width: 70%;
}