#moto-details {
    position: relative;
    display: block;
    width: 980px;
    margin: 90px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}

#moto-details>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background-color: whitesmoke;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 2px 10px 1px #8a8989;
}

.video2-wrapper {
    width: 500px;
}

.moto-header {
    position: relative;
    padding: 16px;
    height: 40%;
    display: flex;
}


.moto_header>h1 {
    color: black;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
}

.moto_header>h4 {
    color: #ada9a9;
    font-size: 20px;
    font-weight: 400;
}

.levels {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 7px;
    border-radius: 5px;
    background-color: #b4b6ee;
    border: 1px solid rgba(218, 181, 181, 0.829);
}

.type {
    display: inline-block;
    color: #959595;
    font-size: 19px;
    margin-left: 10px;
}

.moto-img {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 22px;
    height: 220px;
    border-radius: 12px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.info-section>.text {
    margin-top: 30px;
    padding: 60px;
    height: 50%;
}

.moto-summary {
    margin-top: 15px;
    padding: 60px;
    height: 50%;
}

#summary {
    padding: 10px 16px;
}

.text {
    font-size: 22px;
    color: #545454;
}

.text>span {
    font-size: 30px;
    font-weight: bold;
    margin-left: 22px;
    color: black;

}

.movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_social {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #778e9c;
    padding: 16px;
    margin-top: auto;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
}

.button:hover {
    background-color: #535353;
    color: white;
    cursor: pointer;
}