body {
    background-image: url('../images/360_F_426718640_YZ6RFhGqwb7TCh5480prCzzxt9Zp6mIU.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

header,
footer {
    background-color: #29303c;
    width: 100%;
    overflow: hidden;
    color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 2px 10px 1px #9f9f9f;

}

.home {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
}

header h1 {
    display: inline-block;
    background-color: #29303c;
    color: white;
    margin-bottom: auto;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    font-size: 18px;
}

header nav>* {
    float: left;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    margin: 0 0.5em;
}

nav a:hover {
    cursor: pointer;
    color: rgb(167, 167, 167);
    font-weight: bolder;

}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}