.headerModule i {
    margin-left: 4px;
    font-size: 24px;
    color: red;
}

.emailSpan {
    color: red;
    margin-left: 8px;
}

.headerModule{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
}