.scrollToTopButton{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #c7cfcd;
    color: #2436c0;
    border: none;
    border-radius: 12px;
    padding: 14px 22px;
    cursor: pointer;
    font-size: 22px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .scrollToTopButton:hover {
    background-color: #0056b3;
    cursor: pointer;
    color: aqua;
  }
  
