.missing{
    color: red;
    font-size: 36px;
    font-weight: bold;
}

.missingWrapper{
    display: flex;
    border: 1px solid black;
    background-color: rgb(187, 188, 189);
    height: 400px;
    margin-bottom: 250px;
    align-items: center;
    width: 500px;
    margin: auto;

}