.h1NoData {
    color: rgb(254, 0, 0);
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px white;
}

.specsItemWrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.spinnerToggle {
    display: none;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}