.allMotos {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
}

.allMotosInfo {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allMotosInfo>img {
    margin-top: -22px;
    border-radius: 12px;
    height: 200px;
    position: absolute;
    top: 30px;
    right: 0px;
    float: right;
    width: 220px;
}

.allMotosInfo>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.allMotosInfo>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}