.allMotos {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(203, 202, 202, 0.2);
    margin: 15px;
}

.allMotosInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.allMotosInfo img {
    border-radius: 12px;
    height: auto;
    width: 30vw;
}

.allMotosInfo>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.allMotosInfo h2 {
    font-size: 18px;
}

.allMotosInfo h5 {
    color: #fb0000;
    font-weight: bold;
    font-size: 16px;

}

.h2Span{
    color: gray;
    font-weight: bold;
    font-size: 20px;
}